/********************************TAG SELECTOR*******************************/
body {
  margin: 0;
  text-align: center;
  background-color: #F9CF93;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

span {
  text-decoration: underline;
}



/********************************CLASS SELECTOR*******************************/
.bottom-container {
height: 200px;
width: 200px;
background-color: #F9E4C8;

}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: #FAEEE0;
}

.top-container {
  background-color: #F9CF93;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud-left {
  position: absolute;
  left: 25%;
  top: 30%;
}

.bottom-cloud-center {
  position: absolute;
  left: 45%;
  top: 32%;
}

.bottom-cloud-right {
  position: absolute;
  left: 60%;
  top: 40%;
}

.styles {
  background-color: #1A374D;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.top-cloud {
  position: absolute;
  top: -80%;
  right: 20%;
}

/********************************ID SELECTOR*******************************/
