/********************************TAG SELECTOR*******************************/
body {
  margin: 0;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}







/********************************CLASS SELECTOR*******************************/
.bottom {
height: 200px;
width: 200px;
background-color: blue;

}


.middle {
  height: 200px;
  width: 200px;
  background-color: red;

}


.titleBlock {
  background-color: #1A374D;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.styles {
  background-color: #1A374D;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}


/********************************ID SELECTOR*******************************/
