/********************************TAG SELECTOR*******************************/
/*
SAVING SOME FONTS HERE UNTIL I FIND A BETTER WAY TO DO IT.
font-family: 'Homemade Apple', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oooh Baby', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Tillana', cursive;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
*/
body {
  margin: 0;
  text-align: center;
  background-color: #F9CF93;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-family: 'Oooh Baby', cursive;
}

span {
  text-decoration: underline;
}

/********************************CLASS SELECTOR*******************************/
.bottom-container {
}

.middle-container {
}

.top-container {
  background-color: #F9CF93;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud-left {
  position: absolute;
  left: 20%;
  top: 30%;
}

.bottom-cloud-center {
  position: absolute;
  left: 55%;
  top: 5%;
}

.bottom-cloud-right {
  position: absolute;
  left: 60%;
  top: 40%;
}

.circle-profile {
  max-width: 60%;
  max-height: 60%;
  padding: 4%;
}

.styles {
  background-color: #1A374D;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.top-cloud {
  position: absolute;
  top: -80%;
  right: 20%;
}

/********************************ID SELECTOR*******************************/
