/********************************TAG SELECTOR*******************************/
/*
SAVING SOME FONTS HERE UNTIL I FIND A BETTER WAY TO DO IT.
font-family: 'Homemade Apple', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oooh Baby', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Tillana', cursive;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
*/
a {
  color: #104E8B;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #ECECEC;
}

body {
  margin: 0;
  text-align: center;
  background-color: #F9CF93;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #1E90FF;
  font-size: 5.625rem;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  font-family: 'Oooh Baby', cursive;
}

h2 {
  color: #1E90FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 20px auto 20px auto;
}

hr {
  border: none;
  border-top: 3px dashed #F9CF93;
  width: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
}


span {
  text-decoration: underline;
}

/********************************CLASS SELECTOR*******************************/
.button {
  background: #ECECEC;
  background-image: -webkit-linear-gradient(top, #ECECEC, #F9CF93);
  background-image: -moz-linear-gradient(top, #ECECEC, #F9CF93);
  background-image: -ms-linear-gradient(top, #ECECEC, #F9CF93);
  background-image: -o-linear-gradient(top, #ECECEC, #F9CF93);
  background-image: -webkit-gradient(to bottom, #ECECEC, #F9CF93);
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  color: #F9CF93;
  font-family: Trebuchet MS;
  font-size: 22px;
  font-weight: 200;
  padding: 13px;
  -webkit-box-shadow: 0 0 24px 0 #F9CF93;
  -moz-box-shadow: 0 0 24px 0 #F9CF93;
  box-shadow: 0 0 24px 0 #F9CF93;
  text-shadow: 1px 1px 10px #DD380D;
  border: outset #F9CF93 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contact-me {
  line-height: 1;
  position: relative;
  margin: 20px auto 20px;
  padding-bottom: 50px;
}

.container-footer {
  background-color: #F9CF93;
  line-height: 1;
  position: relative;
  padding-top: 20px;
}

.container-landscape {

}

.container-middle {
  background-color: #ECECEC;
  line-height: 1;
  position: relative;
  padding: 100px auto 100px auto;
}

.containter-middle-skill {
  line-height: 1.5;
  margin: 70px auto 70px auto;
  max-width: 50%;
  text-align: left;
}

.container-top {
  background-color: #F9CF93;
  line-height: 1;
  position: relative;
  padding-top: 50px;
}

.description-header {
  font-size: 42px;
  padding: 5%;
}

.description-footer {
  font-size: .75rem;
}

.icon-skill {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.icon-education {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.icon-contact {
  max-width: 15%;
  max-height: 15%;
  padding-top: 2%;
}

.image-cloud-one {
  position: absolute;
  left: 55%;
  top: 65%;
}

.image-cloud-two {
  position: absolute;
  left: 25%;
  top: 60%;
}

.image-cloud-three {
  position: absolute;
  left: 60%;
  top: 70%;
}

.image-cloud-four {
  position: absolute;
  right: 50%;
  top: 63%;
}

.image-profile {
  max-height: 25%;
  max-width: 25%;
  margin: 80px auto 20px auto;
}

.paragraph-contact{
  clear: left;
  width: 50%;
  margin: auto;
  line-height: 1;
  padding-top: 15px;
  padding-bottom: 30px;
}

.paragraph-footer {
  font-size: .75rem;
}

.paragraph-settings {
  clear: left;
  white-space: break-spaces;
}

.styles {
  background-color: #1A374D;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

/********************************ID SELECTOR*******************************/
